# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local

# database
/data/*.db
/data/*.db-shm
/data/*.db-wal
/data/*.sqlite
/data/*.sqlite-shm
/data/*.sqlite-wal

# turbo
.turbo
